* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodyindex {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainindex mainindex mainindex"
    "footerindex footerindex footerindex"
    ;
}

#bodypromo {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.6fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainpromo mainpromo mainpromo"
    "footerindex footerindex footerindex"
}

#bodytips {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "maintips maintips maintips"
    "footerindex footerindex footerindex"
    ;
}

#bodyreg {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainreg mainreg mainreg"
    "footerindex footerindex footerindex"
    ;
}

#bodyayc {
    display: grid;
    grid-template-rows: 1fr 0.8fr 1.16fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainayc mainayc mainayc"
    "footerayc footerayc footerayc"
    ;
}

header {
    grid-area: headerindex;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}   

header div img {
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header nav ul li {
    list-style-type: none;
    background-color: #cbb088;
    border-radius: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
}

.mainindex {
    grid-area: mainindex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contenedor {
    width: 70%;
    margin: 0 auto;
}

.contenido { 
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
}

.faja {
    background-color: #F9E0BB;
    display: flex;
    justify-content: space-between;
    
}

.mainpromo{
    grid-area: mainpromo; 
    margin-top: 3%;
}

.mainpromo section {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.mainpromo section img {
    width: 20%;
    object-fit: cover;
}

.maintips {
    grid-area: maintips;
    margin-top: 3%;
}

.maintips article {
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
    text-align: center;
}

.maintips div nav ul {
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.mainreg {
    grid-area: mainreg;
    margin-top: 3%;
}

.mainreg article h1 {
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
    text-align: center;
}

.mainreg div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
}

.mainreg div img {
    width: 30%;
    object-fit: cover;
}

.section1reg {
    position: absolute;
    width: 70%;
    left: 11%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

.section2reg {
    position: absolute;
    width: 70%;
    right: 11%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
}

.mainayc {
    grid-area: mainayc;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #cbb088;
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: small;
    line-height: initial;
    transition-duration: 350ms;
    grid-area: footerindex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#piedepagina {
    background-color: #cbb088;
    font-size: large;
    grid-area: footerayc;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}

.divfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}


@media screen and (max-width: 468px){
    header nav ul li a {
        font-size: small;  
    }

    .mainindex div h1 {
        font-size: large;
    }
    .mainindex div p {
        font-size: medium;
    }

    .faja, h2{
        font-size: medium;
    }
}
    

@media screen and (max-width: 768px) {
    #contenedor {
        width: 85%;
        margin: 0 auto;
    }
    
    .mainpromo section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 3rem;
        column-gap: 6rem;
    }
    
    .mainpromo section img {
        width: 27%;
        object-fit: cover;
    }
}