* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainindex mainindex mainindex"
    "footerindex footerindex footerindex"
    ;
}

#logo {
    height: 220px;
    display: flex;
    justify-content: center;
    align-content: center;  
}

header {
    grid-area: headerindex;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

header nav ul li {
    list-style-type: none;
    background-color: #cbb088;
    border-radius: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
}

main {
    grid-area: mainindex;
    display: flex;
    justify-content: center;
}

.contenido{ 
    position: absolute;
    top: 70%;
    left: 67%;
    transform: translate(-50%, -50%);
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
}

.faja {
    font-family: "Andika variant0", Tofu;
    text-align: center;
    position: relative;
    top: 10px;
    margin-top: 50px;
    background-color: #F9E0BB;
    height: 55px;
}

.image {
    display: inline;
    margin-inline: 65px;
}

main article {
    font-family: "Andika variant0", Tofu;
    text-align: center;
}
main article section p {
    font-family: "Andika variant0", Tofu;
    text-align: center;
}

footer {
    background-color: #cbb088;
    transition-property: opacity, transform;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    opacity: 1;
    font-family: "Oswald variant0", Tofu;
    font-size: large;
    line-height: initial;
    transition-duration: 350ms;
    grid-area: footerindex;
}


#piedepagina {
    background-color: #884A39;
    height: 600px;
    font-size: large;
    position: relative;
    text-align: center;
}